ul.menu {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
}

.menu li {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background: rgba(0, 0, 0, 0.200);
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid var(--orange-c);
    transition: .2s;
}

.menu li:hover {
    border: 2px solid var(--orange-c);
    background-color: black;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
}

li.menu-item {
    margin-top: .75rem;
}

#contacto-boton{
    margin-right: .75rem;
}

li.menu-item a {
    padding: .5rem 1rem;
}

.boton-menu {
    display: flex;
    background: rgba(0, 0, 0, 0.200);
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid var(--orange-c);
    padding: 1.3rem 1.5rem;
    font-size: 1rem;
    justify-content: center;
    margin: auto;
    width: 7rem;
    transition: .2s;
}

.boton-menu:hover {
    border: 2px solid var(--orange-c);
    background-color: black;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
}